.formulario{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
}

.formulario form{
    background-color: #f2f2f2f2;
    border-radius: 50px;
    padding: 36px 64px;
    box-shadow: 2px 2px 30px #6e6e6e;
}